<h1 class="m-3">Centro de mensajes</h1>

<div class="container-fluid">
    <div class="row" id="cuadroDeChat">
        <div class="col bg-light" id="realTimeText"></div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <input class="p-2 form-control" type="email" id="clientMail" placeholder="Ingresa su correo aqui...">
                </div>
                <div class="col-8">
                    <input class="p-2 form-control" type="text" id="inputText" placeholder="Ingresa texto aqui...">
                </div>
                <div class="col">
                    <input class="p-2" type="button" id="buttonSend" value="Enviar">
                </div>
            </div>
        </div>
    </div>
</div>