<div class="my-3 bg-light">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/api/productos">Productos</a>
        </li>
        {{!-- <li class="nav-item">
            <a class="nav-link active" href="/api/chat">Chat</a>
        </li> --}}
    </ul>
</div>