<div>
    <div class="alert alert-primary" role="alert">
        El usuario y/o contraseña no son válidos.
    </div>


    <hr>
    <div class="text-center">
        <p>Intentar login nuevamente<a href="/api/login">Login</a></p>
        <p>¿No posees cuenta?<a href="/api/signup">Registrarme</a></p>
        
    </div>
</div>